@import '../../styles/colors.scss';

table {
  margin: 0 auto;
  margin-top: 50px;
  height: 50%;
  width: 60%;
  max-width: 100%;
  border-collapse: collapse;
  background: $white;
  margin-bottom: 20px;

  @media(max-width: 768px) {
    width: 98%
  }
  tbody{
    border: 1px solid black;
  }
  tr {
    border: 1px solid black;
    height: 40px;
    td, th{
      border: 1px solid black;

    }
  }
}

.back-cta {
  padding-bottom: 40px;
}