
// Primary colors
$primary-color: #57fc20;
$primary-color-hover: #3ee207fb;
$dark-green: #16711a;

// Secondary colors
$secondary-color: #0097f2;
$secondary-color-hover: #1185ce;
$white: #fff;

// Background
$bg-color: #f8f7f7;

// Error
$error-color: #be3531;

