@import './colors.scss';

.Notification {
  width: 310px;
  border-radius: 7.5px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 60px;
  border: 2px solid $dark-green;
  background: $primary-color;
}
